"early_data" length is 0

Hi,
   When sending early data with using PSK, the early_data extension can be found, but its length is 0. So the peer(server) can not parse and ignore the early data.  The capture with Wireshark is as follows:
![image](https://user-images.githubusercontent.com/33270435/92990595-3d015200-f510-11ea-82a9-2524b4e8a32e.png)
   Thanks in advance.

I'm not sure what the issue you are raising is.

RFC 8446, Section 4.2.10:

      struct {} Empty;

      struct {
          select (Handshake.msg_type) {
              case new_session_ticket:   uint32 max_early_data_size;
              case client_hello:         Empty;
              case encrypted_extensions: Empty;
          };
      } EarlyDataIndication;

The early data extension is 0 length in the ClientHello.
Early data is sent as application data.

Looking at the TLS 1.3 code, the early data extension should only be send if wolfSSL_write_early_data() is called. That is early data is being explicitly sent by the client application.

Could you please provide more information?

Thanks,
Sean

Thanks for your prompt response. 

I'm sorry I had a wrong understanding of the early data mechanism.  I mistakenly thought the early data should be inside in the ClientHello. In fact, the client can send early data as Application Data in its first flight of messages.
![image](https://user-images.githubusercontent.com/33270435/93034391-7d75e280-f66c-11ea-8647-dac722e1e5e9.png)

Thanks again for your patience.

Glad we could help you understand.

Sean :-)