[Bug]:  RFC 8446 violation : WolfSSL doesn't return an Alert in case of duplicate extensions

### Version

5.8.4

### Description

A WolfSSL TLS 1.3 client receiving a ServerHello containing a duplicated extension (e.g. two SupportedVersions) abort the connection but doesn't send an Alert.


According to the RFC 8446 section 4.6: _Peers which receive a message which is syntactically correct but semantically invalid (e.g., a DHE share of p - 1, or an invalid enum) MUST terminate the connection with an "illegal_parameter" alert._ and no other section of the RFC seems to mention the case of duplicate extensions beside section 4.2 : _There MUST NOT be more than one extension of the same type in a given extension block._ which doesn't further specify the Alert type.

This means that WolfSSL should return an `IllegalParameter` alert when receiving a duplicated extension.

### Impact

RFC violation

### Expected behavior

WolfSSL server should send an "IllegalParameter" Alert and abort the connection.


### Reproduction steps


Here is an example of a TLS 1.3 handshake that triggers the described behavior :

+ Wait for a client's ClientHello
+ Send a ServerHello with a two SupportedVersion extension
    Handshake Protocol: Server Hello
    Handshake Type: Server Hello (2)
    Length: 125
    Version: TLS 1.2 (0x0303)
    Random: 0101010101010101010101010101010101010101010101010101010101010101
    Session ID Length: 0
    Cipher Suite: TLS_AES_128_GCM_SHA256 (0x1301)
    Compression Method: null (0)
    Extensions Length: 85
    Extension: supported_versions (len=2) TLS 1.3
        Type: supported_versions (43)
        Length: 2
        Supported Version: TLS 1.3 (0x0304)
    Extension: key_share (len=69) secp256r1
        Type: key_share (51)
        Length: 69
        Key Share extension
            Key Share Entry: Group: secp256r1, Key Exchange length: 65
                Group: secp256r1 (23)
                Key Exchange Length: 65
                Key Exchange: 040c901d423c831ca85e27c73c263ba132721bb9d7a84c4f0380b2a6756fd601331c8870234dec878504c174144fa4b14b66a651691606d8173e55bd37e381569e
    Extension: supported_versions (len=2) TLS 1.3
        Type: supported_versions (43)
        Length: 2
        Supported Version: TLS 1.3 (0x0304)
    in raw hex: `16030300810200007d03030101010101010101010101010101010101010101010101010101010101010101001301000055002b000203040033004500170041040c901d423c831ca85e27c73c263ba132721bb9d7a84c4f0380b2a6756fd601331c8870234dec878504c174144fa4b14b66a651691606d8173e55bd37e381569e002b00020304`
+ The client should abort the connection without sending an Alert.


Start the following Python TCP server :

```python
import socket

HOST = "0.0.0.0"
PORT = 3000

payload1 = bytes.fromhex(
    "16030300810200007d03030101010101010101010101010101010101010101010101010101010101010101001301000055002b000203040033004500170041040c901d423c831ca85e27c73c263ba132721bb9d7a84c4f0380b2a6756fd601331c8870234dec878504c174144fa4b14b66a651691606d8173e55bd37e381569e002b00020304"
)

with socket.socket(socket.AF_INET, socket.SOCK_STREAM) as server_socket:
    server_socket.setsockopt(socket.SOL_SOCKET, socket.SO_REUSEADDR, 1)
    server_socket.bind((HOST, PORT))
    server_socket.listen(1)
    print(f"[*] Listening on {HOST}:{PORT} ...")

    # Accept client connection
    conn, addr = server_socket.accept()
    with conn:
        print(f"[+] Connection from {addr}")

        data = conn.recv(1024)
        print(f"[>] Received: {data.hex()}")

        # Send decoded payload
        conn.sendall(payload1)
        print(f"[<] Sent: {payload1.hex()}")

        data = conn.recv(1024)
        print(f"[>] Received: {data.hex()}")

        data = conn.recv(1024)
        print(f"[>] Received: {data.hex()}")
```

Then start a TLS 1.3 WolfSSL client :
```sh
./examples/client/client -v4 -p 3000 -l 'TLS_AES_128_GCM_SHA256'
```


You should see the WolfSSL client aborting the connection without sending an Alert.

### Acknowledgements

This bug was found thanks to the [tlspuffin](https://github.com/tlspuffin/tlspuffin) fuzzer designed and developed by the tlspuffin team:
- Max Ammann
- Olivier Demengeon - Loria, Inria
- Tom Gouville - Loria, Inria
- Lucca Hirschi - Loria, Inria
- Steve Kremer - Loria, Inria
- Michael Mera - Loria, Inria

Hi @SparkiDev 

The example uses `SupportedVersions` which is a mandatory extension for TLS 1.3 (see RFC 8446 section 9.2.  Mandatory-to-Implement Extensions). Besides, as quoted, the TLS 1.3 RFC strictly forbid duplicate extensions to reduce the risk of ambiguity when parsing, and it is probable that they will keep this requirement for future versions.

Furthermore, as explained in the issue, the duplication is already catched by WolfSSL, only a correct Alert message is required.