[Bug]: CRL Issuer field with an empty DN

### Version

You are using version 0.1.7 of the wolfssl Command Line Utility. Linked to wolfSSL version 5.7.6

### Description

Main content：     
                I have a CRL file where the DN value in the Issuer field is empty, but RFC 5280 specifies that the size of the DN should be (1..MAX). I was able to successfully print the Issuer field of this CRL file using wolfSSL without any errors. For comparison, when using GnuTLS to print this CRL file, the following error was displayed: error: get_issuer_dn: ASN1 parser: Value is not valid. 

Therefore, I believe this might be a bug.

Computer system：
Ubuntu

Test case:
[crl_zero_DN.zip](https://github.com/user-attachments/files/19066674/crl_zero_DN.zip)

### Reproduction steps

wolfssl crl -inform der -in crl_zero_DN.der -text

### Relevant log output

```
wolfSSL Entering wolfSSL_Init
wolfSSL Entering wolfCrypt_Init
RNG_HEALTH_TEST_CHECK_SIZE = 128
sizeof(seedB_data)         = 128
opened /dev/urandom.
rnd read...
wolfSSL Entering wolfSSL_BIO_new_file
wolfSSL Entering wolfSSL_BIO_s_file
wolfSSL Entering wolfSSL_BIO_new
wolfSSL Entering wolfSSL_BIO_set_fp
wolfSSL Entering wolfSSL_BIO_get_len
wolfSSL Entering wolfSSL_BIO_get_fp
wolfSSL Entering wolfSSL_BIO_read
wolfSSL Entering wolfSSL_d2i_X509_CRL
wolfSSL Entering InitCRL
wolfSSL Entering BufferLoadCRL
InitDecodedCRL
ParseCRL
About to verify CRL signature
Did NOT find CRL issuer CA
wolfSSL Entering AddCRL
wolfSSL Entering InitCRL_Entry
wolfSSL Entering wolfSSL_d2i_X509_NAME
Getting Name
Getting Cert Name
wolfSSL Entering wolfSSL_X509_NAME_new_ex
wolfSSL Entering wolfSSL_X509_NAME_add_entry_by_NID
Found place for name entry
wolfSSL Entering wolfSSL_sk_X509_NAME_new
wolfSSL Entering wolfSSL_sk_new_node
wolfSSL Entering wolfSSL_sk_push
wolfSSL Entering wolfSSL_sk_insert
wolfSSL Entering wolfSSL_X509_NAME_ENTRY_free
wolfSSL Entering wolfSSL_X509_NAME_add_entry_by_NID
Found place for name entry
wolfSSL Entering wolfSSL_sk_push
wolfSSL Entering wolfSSL_sk_insert
wolfSSL Entering wolfSSL_sk_new_node
wolfSSL Entering wolfSSL_X509_NAME_ENTRY_free
wolfSSL Entering wolfSSL_X509_NAME_add_entry_by_NID
Found place for name entry
wolfSSL Entering wolfSSL_sk_push
wolfSSL Entering wolfSSL_sk_insert
wolfSSL Entering wolfSSL_sk_new_node
wolfSSL Entering wolfSSL_X509_NAME_ENTRY_free
wolfSSL Entering wolfSSL_X509_NAME_add_entry_by_NID
Found place for name entry
wolfSSL Entering wolfSSL_sk_push
wolfSSL Entering wolfSSL_sk_insert
wolfSSL Entering wolfSSL_sk_new_node
wolfSSL Entering wolfSSL_X509_NAME_ENTRY_free
wolfSSL Entering wolfSSL_X509_NAME_add_entry_by_NID
Found place for name entry
wolfSSL Entering wolfSSL_sk_push
wolfSSL Entering wolfSSL_sk_insert
wolfSSL Entering wolfSSL_sk_new_node
wolfSSL Entering wolfSSL_X509_NAME_ENTRY_free
wolfSSL Entering wolfSSL_X509_NAME_add_entry_by_NID
Found place for name entry
wolfSSL Entering wolfSSL_sk_push
wolfSSL Entering wolfSSL_sk_insert
wolfSSL Entering wolfSSL_sk_new_node
wolfSSL Entering wolfSSL_X509_NAME_ENTRY_free
wolfSSL Entering wolfSSL_X509_NAME_new_ex
wolfSSL Entering wolfSSL_X509_NAME_copy
wolfSSL Entering wolfSSL_sk_X509_NAME_new
wolfSSL Entering wolfSSL_sk_new_node
wolfSSL Entering wolfSSL_sk_push
wolfSSL Entering wolfSSL_sk_insert
wolfSSL Entering wolfSSL_sk_push
wolfSSL Entering wolfSSL_sk_insert
wolfSSL Entering wolfSSL_sk_new_node
wolfSSL Entering wolfSSL_sk_push
wolfSSL Entering wolfSSL_sk_insert
wolfSSL Entering wolfSSL_sk_new_node
wolfSSL Entering wolfSSL_sk_push
wolfSSL Entering wolfSSL_sk_insert
wolfSSL Entering wolfSSL_sk_new_node
wolfSSL Entering wolfSSL_sk_push
wolfSSL Entering wolfSSL_sk_insert
wolfSSL Entering wolfSSL_sk_new_node
wolfSSL Entering wolfSSL_sk_push
wolfSSL Entering wolfSSL_sk_insert
wolfSSL Entering wolfSSL_sk_new_node
wolfSSL Entering wolfSSL_X509_NAME_free
wolfSSL Entering wolfSSL_sk_free
FreeDecodedCRL
wolfSSL Entering wolfSSL_BIO_s_file
wolfSSL Entering wolfSSL_BIO_new
wolfSSL Entering wolfSSL_BIO_set_fp
wolfSSL Entering wolfSSL_BIO_write
Certificate Revocation List (CRL):
wolfSSL Entering wolfSSL_BIO_write
wolfSSL Entering wolfSSL_BIO_write
        Version: 2 (0x1)
wolfSSL Entering wolfSSL_X509_CRL_get_signature
wolfSSL Entering wolfSSL_X509_CRL_get_signature
wolfSSL Entering wolfSSL_BIO_write
wolfSSL Entering wolfSSL_OBJ_obj2txt
wolfSSL Entering wolfSSL_OBJ_nid2ln
wolfSSL Entering wolfSSL_BIO_write
        Signature Algorithm: sha256WithRSAEncryption
wolfSSL Entering wolfSSL_BIO_write
wolfSSL Entering wolfSSL_X509_NAME_print_ex
wolfSSL Entering wolfSSL_BIO_write
wolfSSL Entering wolfSSL_X509_NAME_entry_count
wolfSSL Leaving wolfSSL_X509_NAME_entry_count, return 6
wolfSSL Entering wolfSSL_X509_NAME_ENTRY_get_data
wolfSSL Entering wolfSSL_BIO_write
wolfSSL Entering wolfSSL_X509_NAME_ENTRY_get_data
wolfSSL Entering wolfSSL_BIO_write
wolfSSL Entering wolfSSL_X509_NAME_ENTRY_get_data
wolfSSL Entering wolfSSL_BIO_write
wolfSSL Entering wolfSSL_X509_NAME_ENTRY_get_data
wolfSSL Entering wolfSSL_BIO_write
wolfSSL Entering wolfSSL_X509_NAME_ENTRY_get_data
wolfSSL Entering wolfSSL_BIO_write
wolfSSL Entering wolfSSL_X509_NAME_ENTRY_get_data
wolfSSL Entering wolfSSL_BIO_write
wolfSSL Entering wolfSSL_BIO_write
        Issuer:  C=, ST=, L=, O=, CN=, OU=
wolfSSL Entering wolfSSL_BIO_write
wolfSSL Entering wolfSSL_BIO_write
wolfSSL Entering wolfSSL_BIO_write
        Last Update: Jan  1 00:00:00 2025 GMT
wolfSSL Entering wolfSSL_BIO_write
wolfSSL Entering wolfSSL_BIO_write
wolfSSL Entering wolfSSL_BIO_write
        Next Update: Dec  1 00:00:00 2025 GMT
wolfSSL Entering wolfSSL_BIO_write
        CRL extensions:
wolfSSL Entering wolfSSL_BIO_write
            X509v3 CRL Number:
wolfSSL Entering wolfSSL_BIO_write
                1
wolfSSL Entering wolfSSL_BIO_write
Revoked Certificates:
wolfSSL Entering wolfSSL_X509_REVOKED_get_serial_number
wolfSSL Entering wolfSSL_BIO_write
wolfSSL Entering wolfSSL_BIO_write
    Serial Number:
        1c80022ef81f2405ee96a612dcb61fe0ac701e5e
wolfSSL Entering wolfSSL_BIO_write
wolfSSL Entering wolfSSL_BIO_write
wolfSSL Entering wolfSSL_BIO_write
        Revocation Date: Mar  3 10:04:12 2025 GMT
wolfSSL Entering wolfSSL_X509_CRL_get_signature
wolfSSL Entering wolfSSL_X509_CRL_get_signature
wolfSSL Entering wolfSSL_BIO_write
wolfSSL Entering wolfSSL_OBJ_obj2txt
wolfSSL Entering wolfSSL_OBJ_nid2ln
wolfSSL Entering wolfSSL_BIO_write
    Signature Algorithm: sha256WithRSAEncryption
wolfSSL Entering wolfSSL_BIO_write
wolfSSL Entering wolfSSL_BIO_write
         31:c6:b1:40:ed:61:82:21:af:10:99:13:fe:bd:f2:7a:07:1e:
wolfSSL Entering wolfSSL_BIO_write
         28:41:a9:f4:97:c8:78:0a:cf:e5:7a:30:a5:da:9f:cc:e2:a0:
wolfSSL Entering wolfSSL_BIO_write
         d7:08:c7:22:e7:26:87:1e:5a:18:df:fe:95:5c:36:d8:75:95:
wolfSSL Entering wolfSSL_BIO_write
         8c:a9:a0:65:96:b9:65:b1:83:56:a6:d0:24:81:38:3b:14:ef:
wolfSSL Entering wolfSSL_BIO_write
         82:56:52:98:8e:3c:cf:7d:71:b1:39:09:a2:23:09:14:c8:2e:
wolfSSL Entering wolfSSL_BIO_write
         c3:26:17:ee:d8:34:7f:b7:46:cf:3d:eb:17:ad:4d:74:6a:a1:
wolfSSL Entering wolfSSL_BIO_write
         e4:10:28:55:df:c2:25:44:9d:96:a0:ab:58:c6:b7:54:ef:10:
wolfSSL Entering wolfSSL_BIO_write
         47:7d:64:2b:36:ab:fe:c3:40:e9:cb:0a:70:5f:00:4a:f9:03:
wolfSSL Entering wolfSSL_BIO_write
         0c:cd:af:af:2c:8f:87:25:19:5d:96:50:a5:6d:f0:bb:e8:01:
wolfSSL Entering wolfSSL_BIO_write
         e4:28:3d:26:69:4d:df:c4:bc:33:a8:24:64:df:5a:38:01:07:
wolfSSL Entering wolfSSL_BIO_write
         22:ed:8c:94:23:0d:95:95:be:06:68:7c:1a:fb:53:4c:85:6a:
wolfSSL Entering wolfSSL_BIO_write
         31:01:f3:71:6c:8c:88:e0:fd:0c:a3:ab:c2:9e:dd:92:ea:bb:
wolfSSL Entering wolfSSL_BIO_write
         fb:a6:70:1d:6a:5a:b5:23:b3:44:26:2d:ca:e4:1e:bc:36:4b:
wolfSSL Entering wolfSSL_BIO_write
         2e:a1:ef:a1:9d:90:76:d8:84:a7:8e:28:18:dd:89:bd:66:84:
wolfSSL Entering wolfSSL_BIO_write
         2c:7c:9e:03
wolfSSL Entering wolfSSL_BIO_write
-----BEGIN X509 CRL-----
MIIB0jCBuwIBATANBgkqhkiG9w0BAQsFADBCMQkwBwYDVQQGEwAxCTAHBgNVBAgM
ADEJMAcGA1UEBwwAMQkwBwYDVQQKDAAxCTAHBgNVBAMMADEJMAcGA1UECwwAFw0y
NTAxMDEwMDAwMDBaFw0yNTEyMDEwMDAwMDBaMDUwMwIUHIACLvgfJAXulqYS3LYf
4KxwHl4XDTI1MDMwMzEwMDQxMlowDDAKBgNVHRUEAwoBBqAOMAwwCgYDVR0UBAMC
AQEwDQYJKoZIhvcNAQELBQADggEBADHGsUDtYYIhrxCZE/698noHHihBqfSXyHgK
z+V6MKXan8zioNcIxyLnJoceWhjf/pVcNth1lYypoGWWuWWxg1am0CSBODsU74JW
UpiOPM99cbE5CaIjCRTILsMmF+7YNH+3Rs896xetTXRqoeQQKFXfwiVEnZagq1jG
t1TvEEd9ZCs2q/7DQOnLCnBfAEr5AwzNr68sj4clGV2WUKVt8LvoAeQoPSZpTd/E
vDOoJGTfWjgBByLtjJQjDZWVvgZofBr7U0yFajEB83FsjIjg/Qyjq8Ke3ZLqu/um
cB1qWrUjs0QmLcrkHrw2Sy6h76GdkHbYhKeOKBjdib1mhCx8ngM=
-----END X509 CRL-----
wolfSSL Entering wolfSSL_X509_CRL_free
wolfSSL Entering FreeCRL
wolfSSL Entering FreeCRL_Entry
wolfSSL Entering wolfSSL_sk_free
wolfSSL Entering wolfSSL_BIO_free
wolfSSL Entering wolfSSL_BIO_free
wolfSSL Entering wolfSSL_Cleanup
wolfSSL Entering wolfCrypt_Cleanup

```

HI @onepeople158 , 

I've reproduced what you are seeing by building wolfssl with the following  configuration `./configure --enable-wolfclu --enable-crl` and building wolfCLU with the following configuration: `./configure` and the following command: `./wolfssl crl -inform der -in crl_zero_DN.der -text` 

I'll note its interesting that OpenSSL does not show an error either: `openssl crl  -inform der -in crl_zero_DN.der -text`

I'll need to confer with my colleagues about this.  Please stay tuned. 

In the meantime, can you let me know a bit about yourself and your project?

- what are your goals?
- where you are located?
- is this out of personal, academic or professional interest?

Warm regards, Anthony 

Hi @onepeople158 , 

Please have a look at https://github.com/wolfSSL/wolfCLU/pull/172 . We believe this is the fix for what you are observing.  Let me know if this helps. 

Warm regards, Anthony 

> HI [@onepeople158](https://github.com/onepeople158) ,
> 
> I've reproduced what you are seeing by building wolfssl with the following configuration and building wolfCLU with the following configuration: and the following command: `./configure --enable-wolfclu --enable-crl``./configure``./wolfssl crl -inform der -in crl_zero_DN.der -text`
> 
> I'll note its interesting that OpenSSL does not show an error either: `openssl crl -inform der -in crl_zero_DN.der -text`
> 
> I'll need to confer with my colleagues about this. Please stay tuned.
> 
> In the meantime, can you let me know a bit about yourself and your project?
> 
> * what are your goals?
> * where you are located?
> * is this out of personal, academic or professional interest?
> 
> Warm regards, Anthony
Hello, it is for academic purposes.


> Hi [@onepeople158](https://github.com/onepeople158) ,
> 
> Please have a look at [wolfSSL/wolfCLU#172](https://github.com/wolfSSL/wolfCLU/pull/172) . We believe this is the fix for what you are observing. Let me know if this helps.
> 
> Warm regards, Anthony

Hello, may I ask if the issue I raised will be considered a new bug?

@onepeople158 , 
I'm not sure what you mean.  If you are looking for some sort of bug bounty we do not offer rewards for bug reports.  May I ask what you were hoping would happen? 
Warm regards, Anthony 

> [@onepeople158](https://github.com/onepeople158) , I'm not sure what you mean. If you are looking for some sort of bug bounty we do not offer rewards for bug reports. May I ask what you were hoping would happen? Warm regards, Anthony
Hello developer, I don't need rewards, I just want to confirm something.


Hi @onepeople158 , 

 In the case of wolfCLU we see it as a tool with the same functionality as the `openssl` command line and so we want it to follow the same behaviour.   The job of the tool is to display CRLs and so we give it a bit of leeway.  When you build wolfSSL and use --enable-wolfclu , we define the macro `WOLFSSL_NO_ASN_STRICT`  

If you apply the following patch: 

```
--- a/configure.ac
+++ b/configure.ac
@@ -9382,7 +9382,7 @@ then
     # Uses alt name
     ENABLED_ALTNAMES="yes"
 
-    AM_CFLAGS="$AM_CFLAGS -DHAVE_OID_ENCODING -DWOLFSSL_NO_ASN_STRICT"
+    AM_CFLAGS="$AM_CFLAGS -DHAVE_OID_ENCODING"
 
 fi
 
```

and rebuild wolfSSL and wolfCLU you will find that it does return an error. 

The relevant code snippet is in `wolfssl/wolfcrypt/src/asn.c` in the function `GetCertName()` : 
```
            #ifndef WOLFSSL_NO_ASN_STRICT
                /* RFC 5280 section 4.1.2.4 lists a DirectoryString as being
                 * 1..MAX in length */
                if (ret == 0 && strLen < 1) {
                    WOLFSSL_MSG("Non conforming DirectoryString of length 0 was"
                                " found");
                    WOLFSSL_MSG("Use WOLFSSL_NO_ASN_STRICT if wanting to allow"
                                " empty DirectoryString's");
                    ret = ASN_PARSE_E;
                }
            #endif
```

So, to answer your question, no, we do not consider this a bug.   Can you please let us know about yourself and your project? 

Warm regards, Anthony 

> Hi [@onepeople158](https://github.com/onepeople158) ,
> 
> In the case of wolfCLU we see it as a tool with the same functionality as the command line and so we want it to follow the same behaviour. The job of the tool is to display CRLs and so we give it a bit of leeway. When you build wolfSSL and use --enable-wolfclu , we define the macro `openssl``WOLFSSL_NO_ASN_STRICT`
> 
> If you apply the following patch:
> 
> ```
> --- a/configure.ac
> +++ b/configure.ac
> @@ -9382,7 +9382,7 @@ then
>      # Uses alt name
>      ENABLED_ALTNAMES="yes"
>  
> -    AM_CFLAGS="$AM_CFLAGS -DHAVE_OID_ENCODING -DWOLFSSL_NO_ASN_STRICT"
> +    AM_CFLAGS="$AM_CFLAGS -DHAVE_OID_ENCODING"
>  
>  fi
>  
> ```
> 
> and rebuild wolfSSL and wolfCLU you will find that it does return an error.
> 
> The relevant code snippet is in in the function :`wolfssl/wolfcrypt/src/asn.c``GetCertName()`
> 
> ```
>             #ifndef WOLFSSL_NO_ASN_STRICT
>                 /* RFC 5280 section 4.1.2.4 lists a DirectoryString as being
>                  * 1..MAX in length */
>                 if (ret == 0 && strLen < 1) {
>                     WOLFSSL_MSG("Non conforming DirectoryString of length 0 was"
>                                 " found");
>                     WOLFSSL_MSG("Use WOLFSSL_NO_ASN_STRICT if wanting to allow"
>                                 " empty DirectoryString's");
>                     ret = ASN_PARSE_E;
>                 }
>             #endif
> ```
> 
> So, to answer your question, no, we do not consider this a bug. Can you please let us know about yourself and your project?
> 
> Warm regards, Anthony

Thank you for your response. My project is about certificate revocation checking.

Is this an academic project? Will there be a paper published about your work? 

> Is this an academic project? Will there be a paper published about your work?

Currently, there are no papers published.

Thanks for letting us know.  This comment will now close this ticket. 