[Bug]: RFC 8446 violation : WolfSSL accepts ClientHello with missing SupportedGroups

### Contact Details

_No response_

### Version

5.8.2

### Description

WolfSSL can respond to a ClientHello without a SupportedGroup extension if the CH contains a keyshare.
This behavior happens only when setting the list of supported groups on the server using `wolfSSL_set_groups` or `wolfSSL_CTX_set1_groups_list` or using `--force-curve` in the example CLI.

According to the RFC 8446 section 9.2: _If containing a “supported_groups” extension, it MUST also contain a “key_share” extension, and vice versa. An empty KeyShare.client_shares vector is permitted. Servers receiving a ClientHello which does not conform to these requirements MUST abort the handshake with a “missing_extension” alert._ So a ClientHello with a KeyShare and no SupportedGroup extension should be rejected and the handshake aborted, which is not the case in the aforementioned scenario with WolfSSL.

### Impact

Unknown, it is possible to do a full handshake after the erroneous ClientHello.

### Expected behavior

WolfSSL client should reject the ClientHello and abort the connection.


### Reproduction steps

### Reproduction steps

Here is an example of a TLS 1.3 ClientHello with a P-256 keyshare and no SupportedGroup extension

- Record Layer:
  - ContentType: Handshake
  - Version: TLS 1.2 (legacy marker)
  - Length: 171
- Handshake:
  - Type: ClientHello
  - Length: 167
  - Version: 0x0303
  - Random: 32 × 0x01
  - SessionID: 32 × 0x03
  - CipherSuites:
    - TLS_AES_128_GCM_SHA256 (0x1301)
  - Compression: null
  - Extensions:
    - signature_algorithms:
      - rsa_pkcs1_sha256 (0x0401)
      - rsa_pss_rsae_sha256 (0x0804)
    - key_share:
      - secp256r1 key share
    - supported_versions:
      - TLS 1.3 (0x0304)

In raw hex :
`16030300ab010000a703030101010101010101010101010101010101010101010101010101010101010101200303030303030303030303030303030303030303030303030303030303030303000213010100005c000d000600040401080400330047004500170041040c901d423c831ca85e27c73c263ba132721bb9d7a84c4f0380b2a6756fd601331c8870234dec878504c174144fa4b14b66a651691606d8173e55bd37e381569e002b0003020304`


Start a TLS 1.3 server with a P-256 curve (to use `wolfSSL_set_groups` function):
```sh 
./build/examples/server/server -v 4 -l 'TLS_AES_128_GCM_SHA256'  -p 3000 --force-curve SECP256R
```

Send the ClientHello with the missing SupportedGroup extension:
```sh
echo "16030300ab010000a703030101010101010101010101010101010101010101010101010101010101010101200303030303030303030303030303030303030303030303030303030303030303000213010100005c000d000600040401080400330047004500170041040c901d423c831ca85e27c73c263ba132721bb9d7a84c4f0380b2a6756fd601331c8870234dec878504c174144fa4b14b66a651691606d8173e55bd37e381569e002b0003020304" | xxd -r -p | nc 127.0.0.1 3000
```

You should see the server respond with a ServerHello containing a P-256 KeyShare.


### Acknowledgements

This bug was found thanks to the [tlspuffin](https://github.com/tlspuffin/tlspuffin) fuzzer designed and developed by the tlspuffin team:
- Max Ammann
- Olivier Demengeon - Loria, Inria
- Tom Gouville - Loria, Inria
- Lucca Hirschi - Loria, Inria
- Steve Kremer - Loria, Inria
- Michael Mera - Loria, Inria


### Relevant log output

```shell

```