WolfSSL accepts version one and two X.509 certificates in TLS 1.2 client certificate authentication.

### Description
I discovered that WolfSSL 4.4.0 in the role of the server allows the usage of X.509 version one and two certificates during TLS client certificate authentication even though [RFC 5246 Section 7.4.6](https://tools.ietf.org/html/rfc5246#section-7.4.6) requires X.509v3 certificates.

### Setup
The following part describes the setup for the test environment used. Generally my setup compiles WolfSSL in an alpine based docker container and copies the compiled version as well as required libraries into an empty image.
#### Compile time options
The compilation process executes the following commands
```
RUN git clone --depth=1 --branch=v4.${VERSION} https://github.com/wolfSSL/wolfssl
WORKDIR wolfssl
RUN ./autogen.sh
RUN ./configure --prefix=/build/
RUN mv Makefile tmp && sed "s/-Werror//g" tmp > Makefile
RUN mv Makefile tmp && sed "s/-Wall//g" tmp > Makefile
RUN ( make &&\
      make install)
```
#### Starting the server
The server is started with the following command:
`lt-server -A /cert/inputCerts/root.pem  -p 4433 -b -i -x -v 3`


### Reproduction
To reproduce the issue use the certificates provided in the attached zip archive and connect to the server. For eaxmple using the following OpenSSL command:
`openssl s_client -connect localhost:4433 -cert ROOTv3_CAv3_LEAF_RSAv2__leaf_certificate1.pem -key rsakey_2.pem -CAfile ROOTv3_CAv3_LEAF_RSAv2__ca_certificate1.pem -tls1_2`

In addition to the version two certificate chain I also provided a version one certificate chain in the attached zip archive.


### Expected Result
WolfSSL should reject the certificates since the TLS specification only allows version three certificates.

### Actual Result
WolfSSL considers the certificates valid and accepts the connection.


[wolfSSLVersionOneTwo.zip](https://github.com/wolfSSL/wolfssl/files/4772197/wolfSSLVersionOneTwo.zip)




@Immortalem thank you for the report, a change to be more strict on the certificate version number has been merged into wolfSSL.