[Bug]: RFC 8446 violation : WolfSSL accepts incorrect extensions in ServerHello

### Contact Details

tom.gouville [ at ]inria [ dot ] fr

### Version

5.8.0

### Description

WolfSSL clients accept to execute full TLS 1.3 handshakes with server sending incorrect extensions in their Server Hello :

A WolfSSL client receiving a Server Hello containing one of these extensions will ignore them and continue the handshake instead of aborting the connection :
- `application_layer_protocol_negotiation` extension : should be found only in ClientHello or EncryptedExtensions (see RFC 8446 Section 4.2)
- `early_data` extension : should be found only in ClientHello, EncryptedExtensions or NewSessionTicket (see RFC 8446 Section 4.2)
- `signed_certificate_timestamp` extension : should be found only in ClientHello, CertificateRequest or Certificate (see RFC 8446 Section 4.2)
- `ec_point_formats` extension : should be found only in TLS 1.2 handshakes
- `extended_master_secret` extension : should be found only in TLS 1.2 handshakes
- `renegotiation_info` extension : should be found only in TLS 1.2 handshakes

RFC 8446 Section 4.2 states _If an implementation receives an extension which it recognizes and which is not specified for the message in which it appears, it MUST abort the handshake with an "illegal_parameter" alert._. It is not the case with WolfSSL which can identify those extentions but seems to ignore them instead of aborting the handshake.

### Impact

Unknown, theses extensions are processed to compute the transcript hash of the handshake but no other side effects have been identified (but this may need to be confirmed).

### Expected behavior

WolfSSL client should reject those extensions as they don't belong to a valid TLS 1.3 ServerHello.

### Reproduction steps

Here is an example of a TLS 1.3 ServerHello containing early_data extension that is accepted by the WolfSSL client

- Record Layer:
  - ContentType: Handshake
  - Version: TLS 1.2 (legacy marker)
  - Length: 127
- Handshake:
  - Type: ServerHello
  - Length: 123
  - Version: 0x0303
  - Random: 32 × 0x01
  - SessionID: empty
  - CipherSuite: TLS_AES_128_GCM_SHA256 (0x1301)
  - Compression: null
  - Extensions:
    - supported_versions = TLS 1.3 (0x0304)
    - key_share (secp256r1)
    - early data

In raw hex :
`160303007f0200007b030301010101010101010101010101010101010101010101010101010101010101010013010000530033004500170041040c901d423c831ca85e27c73c263ba132721bb9d7a84c4f0380b2a6756fd601331c8870234dec878504c174144fa4b14b66a651691606d8173e55bd37e381569e002a0000002b00020304`


### Acknowledgements

This bug was found thanks to the tlspuffin fuzzer designed and developed by the tlspuffin team:
- Max Ammann
- Olivier Demengeon - Loria, Inria
- Tom Gouville - Loria, Inria
- Lucca Hirschi - Loria, Inria
- Steve Kremer - Loria, Inria
- Michael Mera - Loria, Inria



