[Bug]: RFC 8446 violation : WolfSSL returns the wrong Alert type when receiving ClientHello without SupportedGroups

### Version

5.8.4

### Description

A WolfSSL TLS 1.3 server receiving a ClientHello without a SupportedGroup extension if the CH contains a keyshare, returns the wrong alert type, i.e. `HandshakeFailure`.

According to the RFC 8446 section 9.2: _If containing a “supported_groups” extension, it MUST also contain a “key_share” extension, and vice versa. An empty KeyShare.client_shares vector is permitted. Servers receiving a ClientHello which does not conform to these requirements MUST abort the handshake with a “missing_extension” alert._ This means that WolfSSL should return a `MissingExtension` alert in this case.

### Impact

RFC violation

### Expected behavior

WolfSSL server should send a `MissingExtension` Alert and abort the connection.


### Reproduction steps


Here is an example of a TLS 1.3 handshake that triggers the described behavior :

+ Send a ClientHello with the missing SupportedGroup extension:
    TLSv1.2 Record Layer: Handshake Protocol: Client Hello
    Content Type: Handshake (22)
    Version: TLS 1.2 (0x0303)
    Length: 203
    Handshake Protocol: Client Hello
        Handshake Type: Client Hello (1)
        Length: 199
        Version: TLS 1.2 (0x0303)
        Random: 0101010101010101010101010101010101010101010101010101010101010101
        Session ID Length: 32
        Session ID: 0303030303030303030303030303030303030303030303030303030303030303
        Cipher Suites Length: 2
        Cipher Suites (1 suite)
        Compression Methods Length: 1
        Compression Methods (1 method)
        Extensions Length: 124
        Extension: signature_algorithms (len=6)
            Type: signature_algorithms (13)
            Length: 6
            Signature Hash Algorithms Length: 4
            Signature Hash Algorithms (2 algorithms)
        Extension: key_share (len=103) secp384r1
            Type: key_share (51)
            Length: 103
            Key Share extension
                Client Key Share Length: 101
                Key Share Entry: Group: secp384r1, Key Exchange length: 97
                    Group: secp384r1 (24)
                    Key Exchange Length: 97
                    Key Exchange: 04533ee5bf40ec2d67988b77f317489bb6df952925c709fc0381111a5956f2d758110e59d3d7c1729e2c0d70eaf773e6120116426de2436a2f5fdd7fe54faf952b04fd13f516ce627f89d2019d4c8796959e4333c7065b496ca634d5dc63bde91f
        Extension: supported_versions (len=3) TLS 1.3
            Type: supported_versions (43)
            Length: 3
            Supported Versions length: 2
            Supported Version: TLS 1.3 (0x0304)
    in raw hex: `16030300cb010000c703030101010101010101010101010101010101010101010101010101010101010101200303030303030303030303030303030303030303030303030303030303030303000213010100007c000d00060004040108040033006700650018006104533ee5bf40ec2d67988b77f317489bb6df952925c709fc0381111a5956f2d758110e59d3d7c1729e2c0d70eaf773e6120116426de2436a2f5fdd7fe54faf952b04fd13f516ce627f89d2019d4c8796959e4333c7065b496ca634d5dc63bde91f002b0003020304`
+ The server abort the connection with a `HandshakeFailure` Alert.


Start a TLS 1.3 server with a P-256 curve (to use `wolfSSL_set_groups` function):
```sh 
./build/examples/server/server -v 4 -l 'TLS_AES_128_GCM_SHA256'  -p 3000
```

Send the ClientHello with the missing SupportedGroup extension:
```sh
echo "16030300cb010000c703030101010101010101010101010101010101010101010101010101010101010101200303030303030303030303030303030303030303030303030303030303030303000213010100007c000d00060004040108040033006700650018006104533ee5bf40ec2d67988b77f317489bb6df952925c709fc0381111a5956f2d758110e59d3d7c1729e2c0d70eaf773e6120116426de2436a2f5fdd7fe54faf952b04fd13f516ce627f89d2019d4c8796959e4333c7065b496ca634d5dc63bde91f002b0003020304" | xxd -r -p | nc 127.0.0.1 3000
```

You should see the WolfSSL server aborting the connection and sending a `HandshakeFailure` alert.

### Acknowledgements

This bug was found thanks to the [tlspuffin](https://github.com/tlspuffin/tlspuffin) fuzzer designed and developed by the tlspuffin team:
- Max Ammann
- Olivier Demengeon - Loria, Inria
- Tom Gouville - Loria, Inria
- Lucca Hirschi - Loria, Inria
- Steve Kremer - Loria, Inria
- Michael Mera - Loria, Inria
